extends ../layout
block content
    div.container
        .main.container
                .row
                    .col-md-6.col-md-offset-3
                        h1.display-4.m-b-2 Welcome To Issue Tracker
    div.content
        a.btn.btn-primary(href='/issueTracker/create/') Add New Issues    
        table.table.table-striped
            thead
                tr
                    th(style='width:15px') Description
                    th Severity
                    th Status
                    th Resolved Date
                    th Created Date
                    th Action
            tbody
                if data.length > 0
                    each dt in data
                        tr
                            td #{ dt.description }
                            td #{ dt.severity }
                            td #{ dt.status }
                            td #{ dt.resolved_date }
                            td #{ dt.created_date }
                            td 
                                a.btn.btn-primary(href='/issueTracker/edit/'+dt.id) Edit 
                                a.btn.btn-primary(href='/issueTracker/delete/'+dt.id) Delete
                else
                    tr
                        td No records founded            
                